<h2>More about {{movie.title}}</h2>

<ul>
    <li>Genre: {{movie.genre}}</li>
    <li>About: {{movie.plot}}</li>
    <li>Starring: {{movie.cast.name}}</li>
</ul>

<a href="/movies/{{movie.id}}/edit">Edit {{celeb.name}}</a> |
<a href="/movies">Movie Index</a> | 
<a href="/">Home</a>